@import '/src/styles/extend.scss';

div.article-cards-items {
    --item-padding-default: 12px;
    --item-padding-bottom-offset: 8px;
    --item-padding: var(--item-padding-default) calc(var(--item-padding-default) + 8px)
        calc(var(--item-padding-default) + var(--item-padding-bottom-offset));
    --avatar-size: 68px;
    --avatar-border-size: 7px;
    --min-height: 160px;

    @include media-breakpoint-down(xxl) {
        --avatar-size: 65px;
        --item-padding-default: 10px;
    }

    @include media-breakpoint-down(xl) {
        --avatar-size: 60px;
        --item-padding-default: 8px;
        --min-height: 140px;
    }

    @include media-breakpoint-down(lg) {
        --avatar-size: 55px;
        --item-padding-default: 6px;
    }

    @include media-breakpoint-down(md) {
        --avatar-size: 50px;
        --avatar-border-size: 6px;
        --item-padding-default: 4px;
        --min-height: 120px;
    }

    @include media-breakpoint-down(sm) {
        --avatar-size: 45px;
        --avatar-border-size: 6px;
        --item-padding-default: 2px;
        --min-height: 100px;
    }
}

div.article-cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--theme-boards-background);
    border-radius: $standard-border-radius;
    padding: var(--item-padding);
    height: 100%;
    min-height: var(--min-height);
    position: relative;
}

a.article-cards-item-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.article-cards-item-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: var(--avatar-border-size) solid var(--theme-standard-borders-accent);
    border-radius: 100%;
    font-size: calc(var(--avatar-size) / 2.4) !important;
}

div.article-cards-item-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16px;
    height: 100%;
    @include media-breakpoint-down(lg) {
        margin-top: 12px;
    }

    h6 {
        color: var(--theme-texts-light);
        font-weight: bold;
        margin-bottom: calc(var(--avatar-size) / 10);
    }

    &-description {
        color: var(--theme-texts-light-2);
        flex-grow: 1;
    }

    &-date-badge {
        width: 140px;
        margin: calc(var(--avatar-size) / 8) auto 0;
    }
}
